main {
    margin-top : 3%;
    
}

.container {
    width: 30%;
    height: 300px;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.container:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.img-fluid {
    width: 70px;
    height: 70px;
    float: left;
}

.date-thread {
    float: right;
}

/* Break a Very Long Word */
.wordwrap {  
    white-space: pre-wrap;      /* Webkit */    
    white-space: -moz-pre-wrap; /* Firefox */     
    white-space: -pre-wrap;     /* Opera <7 */    
    white-space: -o-pre-wrap;   /* Opera 7 */     
    word-wrap: break-word;      /* IE */ 
 }

.bottom-heart {
    position: absolute;
    bottom: 0;
    margin-bottom: 1em;
    left: 50%;
}

.fa-heart:hover {
    color: #FA7268;
}

.fa-heart{
    color: #aaa;
    transform: rotate(0deg);
    transition: transform 0.5s linear;
}
  
.fa-heart.open{
    color: #FA7268;
    transform: rotate(360deg);
    transition: transform 0.5s linear;
}



@media (max-width: 576px) { 
    .container {
        width: 50%;
        height: 600px;
    }
}

@media (max-width: 768px) { 
    .container {
        width: 50%;
        height: 600px;
    }
 }

@media (max-width: 992px) { 
    .container {
        width: 50%;
        height: 600px;
    }
}