.right {
    margin-right: 20%;
}

.badge {
    color: #FA7268;
}

.navbar {
    margin-bottom: 1em;
}

@media (min-width: 992px) {
    .left {
        margin-left: 20%;
    }

    .form-inline {
        flex-flow: unset;
    }
}