nav {
    background-color: #F5F5F5;
}

.right {
    margin-right: 20%;
}

.badge {
    color: #FA7268;
}

.navbar {
    margin-bottom: 1em;
}

a {
    font-weight: bold;
}

@media (min-width: 1145px) {
    .left {
        margin-left: 20%;
    }

    .form-inline {
        flex-flow: unset;
    }
}