<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    <%for(var i = 0; i < threads.length; i++) {%>
    <p><%= threads[i].username %></p>
    <p><%= threads[i].thread_name %></p>
    <p><%= threads[i].pathfile_thread %></p>
    <p><%= threads[i].date_thread %></p>
    <% } %></p>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>