<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/sign-in/signin.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body class="text-center">

    <form class="form-signin" method="post" action="/signup">
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
        <p class="text-muted">Le mot de passe doit contenir 1 Majuscule 1 chiffre et minimum 8 caractères</p>        
        <%if (hasErrors) { %>
        <div class="alert alert-danger">
            <% for(var i=0; i < messages.length; i++) {%>
            <p><%= messages[i] %></p>
            <% } %>
        </div>
        <% } %>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" name="username" required autofocus>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" class="form-control" placeholder="Email address" name="email" style="border-radius: 0;" required>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
        <label for="passwordConfirm" class="sr-only">Confirm Password</label>
        <input type="password" id="passwordConfirm" class="form-control" placeholder="Confirm Password" name="passwordConfirm" required>
        </div>
        <input type="hidden" name="_csrf" value="<%= csurfToken %>"> <!-- Protect the page with a token -->
        <input type="checkbox" id="cbx" style="display: none;">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        <br>
        <p>Have an Account ? <a href="/signin">Sign In</a></p>
        <a href="/conditionsrgpd" target=”_blank”>conditions générale</a>

    </form>
</html>








