<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">MyThread</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notifications<span class="badge">4</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-dice fa-lg" style="color: #FA7268;"
                        onmouseover="this.style.color='#3F82C7';" onmouseout="this.style.color='#FA7268';"></i></a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link open-button" href="#" data-toggle="modal" data-target="#newthread"><i class="fas fa-pen-alt fa-lg" style="color: #FA7268;"
                        onmouseover="this.style.color='#3F82C7';" onmouseout="this.style.color='#FA7268';"  ></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile"><i class="far fa-user-circle fa-lg"></i></a>
            </li>
        </ul>        
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav right">
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-lg"></i></a>
            </li>
        </ul>
    </div>
</nav>